.button#slack-connect(*ngIf="!client.connected", (click)="connect()") Connect
.button(*ngIf="client.connected", (click)="client.disconnect()") Disconnect
.content
  .users
    div
      .user(*ngFor="let user of users")
        img(src="{{user.imageUrl}}")
        .name {{user.realName}}
  .messages
    div
      .message(*ngFor="let message of messages")
        .header
          .user
            img(src="{{message.sender.imageUrl}}")
            .name {{message.sender.realName}}
          .time {{(message.edited ? 'updated ' : '') + formatDate(message.date)}}
        .text([innerHTML]="message.htmlText")