@import "../../app/styles/theme";

:host {
  display: flex;
  flex-direction: column;
  padding: $space;
  width: 100%;
}

.content {
  display: flex;
  flex-flow: row;
  padding-top: $spaceHalf;
  .users {
    margin-right: 4px;
    flex: 0 0 180px;
    background: $colorBackground;
    border-radius: $inputCorner;
    overflow: scroll;
  }
  .messages {
    flex-grow: 3;
    border-radius: $inputCorner;
    overflow: scroll;
  }
}

.user {
  display: flex;
  flex-flow: row;
  padding: $spaceHalf;
  img {
    width: $avatarSize;
    height: $avatarSize;
    border-radius: $inputCorner;
  }
  .name {
    padding: $spaceHalf;
    align-self: center;
  }
}

.message {
  display: flex;
  flex-flow: column;
  padding: $spaceHalf;
  background: white;
  margin-bottom: $spaceHalf;
  border-radius: $inputCorner;
  .header {
    display: flex;
    flex-flow: row wrap;
    .user {
      flex-grow: 1;
      img {
        width: $smallAvatarSize;
        height: $smallAvatarSize;
      }
      .name {
        font-weight: bold;
        color: $colorTextDark;
      }
    }
    .time {
      flex-grow: 0;
      font-size: smaller;
      color: $colorTextLight;
      align-self: center;
    }
  }
  .text {
    color: $colorTextDark;
    user-select: auto;
    word-wrap: break-word;
  }
;
}