@import "theme";

@mixin full-screen {
  width: 100%;
  min-height: 100%;
  flex: 1 0 auto;
}

$break-small: 540px;
$break-large: 1280px;

@mixin design-for($media) {
  @if $media == phones {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == tablets {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == mobile {
    @media only screen and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $media) {
      @content;
    }
  }
}

@mixin selected {
  &:active, &:hover, &:target {
    @content;
  }
}

@mixin over {
  &:hover, &:target {
    @content;
  }
}

@mixin pressed {
  &:active {
    @content;
  }
}

@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@mixin button-color($normal, $hover, $active: $hover) {
  background: $normal;
  @include over {
    background: $hover;
  }
  @include pressed {
    background: $active;
  }
}

@mixin input($background, $color, $textColor, $textSize) {
  padding: 0 $spaceDouble;
  color: $textColor;
  font-size: $textSize;
  border: transparent solid 2px;
  background: $background;
  &:focus {
    background: $background;
    border-bottom: $color solid 2px;
  }
}

@mixin underline {
  padding-bottom: $space;
  border-bottom: $colorPrimaryLight solid $lineSmall;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}