@import "theme";
@import "mixins";

.loader, .loader:after {
  border-radius: 50%;
  width: $spinnerSize;
  height: $spinnerSize;
}

.loader {
  margin: $spaceHalf;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 1.1em solid rgba($colorAccent, 0.2);
  border-left-color: $colorAccent;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}