$colorPrimary: #D7263D;
$colorPrimaryLight: #F25757;
$colorAccent: #02182B;
$colorAccentLight: #61E8E1;
$colorBackground: rgba(#f6f6f6, 0.2);
$colorText: #FFF;
$colorTextDark: #333;
$colorTextLight: #777777;
$colorAvatarBackground: #d8d8d8;

$colorHighlightPrimary: rgba($colorPrimary, 0.2);
$colorSelection: rgba($colorAccent, 0.6);

$colorButtonDefault: $colorPrimary;
$colorButtonHighlight: $colorPrimaryLight;
$colorButtonPressed: darken($colorPrimaryLight, 10%);
$colorButtonPrimary: $colorAccent;
$colorButtonPrimaryHighlight: $colorAccentLight;
$colorButtonPrimaryPressed: darken($colorAccentLight, 10%);

$font: -apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
"Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

$textSize: 16px;
$lineHeight: 20px;

$inputBoxSize: 24px;
$inputHeight: 48px;

$space: 8px;
$spaceHalf: $space/2;
$spaceDouble: $space*2;
$spaceTriple: $space*3;
$spaceQuadruple: $space*4;

$lineSmall: 1px;

$minButtonWidth: 96px;
$buttonHeight: 48px;
$spinnerSize: 48px;
$inputCorner: 3px;

$avatarSize: 48px;
$smallAvatarSize: 24px;

$animationTime: 0.35s;