@import "theme";
@import "mixins";

input, textarea {
  display: block;
  color: $colorText;
  height: $inputHeight;
  border-radius: $inputCorner;
  line-height: $lineHeight;
  @include input($colorBackground, $colorAccent, $colorText, $textSize);
}

textarea {
  height: auto;
  width: auto;
  min-height: $lineHeight;
  min-width: 100px;
  line-height: $lineHeight;
  overflow: hidden;
  resize: none;
}

button, .button {
  background: $colorPrimary;
  border: none;
  border-radius: $inputCorner;
  @include button-color($colorButtonDefault, $colorButtonHighlight, $colorButtonPressed);
  display: inline-block;
  position: relative;
  font-weight: 600;
  text-align: center;
  color: #fff;
  cursor: pointer;
  user-select: none;
  height: $buttonHeight;
  line-height: $buttonHeight;
  padding: 0 $spaceDouble;

  &.small {
    height: $inputHeight;
    font-size: $textSize;
    line-height: $inputHeight;
    padding: 0 $space;
  }
  &.primary {
    @include button-color($colorButtonPrimary, $colorButtonPrimaryHighlight, $colorButtonPrimaryPressed);
  }

}
