@import "theme";
@import "mixins";

.form {
  display: flex;
  flex-flow: column;
  > .form-row {
    display: flex;
    flex-flow: row;
    > label {
      padding: $spaceDouble;
      flex: 1 1 0;
    }
    .form-input {
      flex: 1.3 1 0;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      > * {
        flex: 1 1 auto;
        padding: $space;
      }
      .button {
        text-align: center;
        padding: 0;
      }
      .loader {
        margin: auto;
      }
    }

    @include design-for(phones) {
      flex-flow: row wrap;
      height: auto;

    }
  }
  .form-radio, .form-checkbox {
    display: flex;
    height: 48px;
    flex-flow: row;
    flex: auto;
    align-items: center;
    input {
      margin-right: $space;
    }
  }
}

select {
  display: block;
  color: $colorTextDark;
  height: $inputHeight;
  border-radius: $inputCorner;
  @include input($colorBackground, $colorAccent, $colorText, $textSize);
  @include appearance(none);
}

option {
  padding: 0 $spaceDouble;
  color: $colorText;
  @include appearance(none);
}

input[type="radio"], input[type="checkbox"] {
  @include appearance(none);
  width: $inputBoxSize;
  height: $inputBoxSize;
  padding: 0;
  background: $colorBackground;
  box-shadow: inset 0 0 0 $inputBoxSize $colorBackground;
  border-radius: $inputCorner;
  transition: all $animationTime;
  cursor: pointer;
  border: $colorButtonDefault solid $inputCorner;

  &:checked {
    background: $colorAccent;
    border: $colorAccent solid $inputCorner;
    box-shadow: inset 0 0 0 $inputCorner $colorAccentLight;
  }

  @include over {
    background: $colorBackground;
    box-shadow: none;
  }
}

input[type="checkbox"] {
  border-radius: $inputCorner;
}

::placeholder {
  opacity: 1;
  color: $colorTextLight;
}

input {
  color: $colorTextDark;
}