@import "../styles/theme";
@import "../styles/mixins";
@import "../styles/forms";
@import "../styles/spinner";
@import "../styles/buttons";

body {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  margin: 0;
  padding: 0;
  flex-direction: column;
  color: $colorText;
  font-family: $font;
  font-size: $textSize;
  height: 100%;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: default;
  &:focus {
    outline: none;
  }
}

a {
  color: $colorAccent;
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-align: left;
}

p {
  word-wrap: break-word;
}

.gone {
  display: none !important;
}

#header {
  display: flex;
  flex-flow: row nowrap;
  background: $colorAccent;
  align-items: center;
  color: $colorBackground;
  font-weight: bold;
  font-size: large;
  .logo {
    width: 32px;
    height: 32px;
    margin: 16px;
  }
  p {
    flex-grow: 1;
  }
  .button {
    margin: $space;
    -webkit-app-region: no-drag;
  }
}

#content {
  -webkit-app-region: no-drag;
  display: flex;
  flex: 1;
}

#footer {
  -webkit-app-region: no-drag;
  color: white;
  background: $colorPrimary;
  padding: $space;
  width: 100%;
  text-align: center;
}
