#header
  img.logo(src='resources/icons/128x128.png')
  p Read Bot
  .button.small.primary((click)="showOptions()") Options
#content
  optionsComponent([class.gone]="!displayOptions")
  slackComponent([class.gone]="displayOptions")
#footer
  | &copy;&nbsp;2017&nbsp;•&nbsp;
  a((click)="openUrl('https://www.linkedin.com/in/krzysztof-miemiec')") Krzysztof&nbsp;Miemiec