.form.list
  .form-row
    label Connect automatically on start
    .form-input
      .form-checkbox
        input(id="autoConnect", name="autoConnect", type="checkbox", [(ngModel)]="autoConnect")
        label.checkbox-label(for="autoConnect")
  .form-row
    label(for="slackName") Slack Name
    .form-input
      input(id="slackName", type="text", [(ngModel)]="slackName", placeholder="readbot")
  .form-row
    label(for="slackToken") Slack Token
    .form-input
      input(id="slackToken", type="text", [(ngModel)]="slackToken", placeholder="xxxx-012345678901-0123456789abcdefghABCDEF")
  .form-row
    label(for="speechVoice") Speech Voice
    .form-input
      .button(*ngIf="!voices && !voicesLoading", (click)="loadVoices()") Load voices
      .button(*ngIf="!voices && voicesLoading")
        .loader
      select(*ngIf="voices", id="speechVoice", [(ngModel)]="voice")
        option(*ngFor="let voice of voices", [ngValue]="voice.name") {{voice.name + ' (' + voice.language + ')'}}
  .form-row
    label(for="amazonId") Amazon ID
    .form-input
      input(id="amazonId", type="text", [(ngModel)]="amazonId", placeholder="AAAAAA123456DEFGHIJK")
  .form-row
    label(for="amazonKey") Amazon Key
    .form-input
      input(id="amazonKey", type="text", [(ngModel)]="amazonSecret", placeholder="abcdefABCDEF0123456789ABCDEFG+HIJKLMNOPRS")
  .form-row
    label(for="amazonRegion") Amazon Region
    .form-input
      input(id="amazonRegion", type="text", [(ngModel)]="amazonRegion", placeholder="eu-west-1")